apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tp2-pvc
  namespace: julianedutra
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  selector:
    matchLabels:
      namespace: julianedutra
  storageClassName: default-storage-class-julianedutra
